#
# XPP configuration
#

menuconfig DAHDI_XPP
	tristate "Xorcom Astribank Support"
	depends on DAHDI && USB
	default DAHDI
	---help---
	  Infrastructure support for Xorcom Astribank products.

	  To compile this driver as a module, choose M here: the
	  module will be called xpp.

	  If unsure, say Y.

if DAHDI_XPP

config DAHDI_XPP_USB
       tristate
       depends on DAHDI_XPP
       default DAHDI_XPP

config DAHDI_XPD_FXS
	tristate "FXS port Support"
	depends on DAHDI_XPP
	default DAHDI_XPP
	---help---
	  To compile this driver as a module, choose M here: the
	  module will be called xpd_fxs.

	  If unsure, say Y.

config DAHDI_XPD_FXO
	tristate "FXO port Support"
	depends on DAHDI_XPP
	default DAHDI_XPP
	---help---
	  To compile this driver as a module, choose M here: the
	  module will be called xpd_fxo.

	  If unsure, say Y.

config DAHDI_XPD_PRI
	tristate "PRI port Support"
	depends on DAHDI_XPP
	default DAHDI_XPP
	---help---
	  To compile this driver as a module, choose M here: the
	  module will be called xpd_pri.

	  If unsure, say Y.

endif # DAHDI_XPP
